# OS
.DS_Store

# Dependencies
node_modules

# IDE
.idea
.vscode

# Logs
*.log
lerna-debug.log*
logs*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build
dist
lib 

# Runtime data
*.pid
*.pid.lock
*.seed
pids

# Environment
.env*
!.env.example

# Yarn
.pnp/
.pnp.js
.yarn-integrity

# Docker volumes
data/


# jest
.jest-cache
coverage